
Calculator.xcodeproj/project.xcworkspace/xcshareddata/Calculator.xccheckout

Calculator.xcodeproj/project.xcworkspace/xcuserdata/adri.vazquez.xcuserdatad/UserInterfaceState.xcuserstate

Calculator.xcodeproj/xcuserdata/adri.vazquez.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Calculator.xcodeproj/xcuserdata/adri.vazquez.xcuserdatad/xcschemes/xcschememanagement.plist

Calculator.xcodeproj/xcuserdata/adri.vazquez.xcuserdatad/xcschemes/Calculator.xcscheme

Calculator.xcodeproj/project.xcworkspace/xcuserdata/adri.vazquez.xcuserdatad/WorkspaceSettings.xcsettings
